{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rules</title>
    <link rel="stylesheet" href="{%static 'style/style2.css' %}">
</head>

<body>
    <div class="container">
        <h1>RULES AND CONDITIONS</h1>
        <hr>
    <p>1.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, amet Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Iste, eius.!</p>
    <p>2.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore,Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Illum, voluptatibus? amet!</p>
    <p>3.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore,Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Illum, voluptatibus? amet!</p>
    <p>4.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore,Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Illum, voluptatibus? amet!</p>
    <p>5.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore,Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Illum, voluptatibus? amet!</p>
    <p>6.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore,Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Illum, voluptatibus? amet!</p>
    <br>
    <!-- <hr> -->
    <p1>ENTER YOUR USER NAME</p1>
    <input type="User name">
    <hr>
    <p1>ENTER YOUR QUIZ URL.</p1>
    <input type="User name">
    <hr>
    <!-- <button>Accept and Continue</button>
     -->
     <button class="btn"> <a href="{% url 'quiz_page'%"></a>
         Accept and Continue</button>
    </div>
    <script src="index.js"></script>
</body>

</html>