<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
    <link rel="stylesheet" href="style4.css">
</head>

<body>

    <div class="header">


        <div class="container">
            <form action="" method="POST" class="form">
                <h2>QUIZER</h2>
                <img src="1.jpg" width="60" height="60">
                <div class="input">
                    <input type="email" name="email" class="form-input" id="email" placeholder="Email" required>
                    <label for="email" id="email_label" class="label">Email</label>
                </div>
                <div class="input">
                    <input type="password" class="form-input" placeholder="Password" id="password" required>
                    <label for="password" class="label" class="form-input">Password</label>
                </div>
                <div class="input">
                    <input type="Confirm password" class="form-input" placeholder="Confirm Password" id="Confirm password" required>
                    <label for="Confirm password" class="label" class="form-input">Confirm Password</label>
                </div>
                <!-- <p><a href="#">Forgot your password?</a></p>
                <button type="submit" id="submit_button">Login</button> -->

                <!-- <p><a href="">If dont have account</a></p> -->
                <button type="submit" id="submit_button">Create Account</button>
            </form>
        </div>
    </div>
    <script src="index.js"></script>

</body>

</html>